<h1 mat-dialog-title>Reset password</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input (keydown)="submitWithEnterKey($event)" matInput placeholder="john.doe@gmail.com"
               [formControl]="formResetPassword" required>
        <mat-error *ngIf="formResetPassword.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="!formResetPassword.valid"
            [mat-dialog-close]="true">
        Send email
    </button>
</div>
