<h1 mat-dialog-title>Reset password</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="john.doe@gmail.com"
               [formControl]="formResetPassword" required>
        <mat-error *ngIf="formResetPassword.hasError('required')">
            You must enter a value
        </mat-error>
        <mat-error *ngIf="formResetPassword.hasError('email')">
            Not a valid email
        </mat-error>
        <mat-error *ngIf="formResetPassword.hasError('UNKNOWN_ERROR')">
            {{ formResetPassword.getError("UNKNOWN_ERROR) }}
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="!formResetPassword.valid"
            [mat-dialog-close]="true">
        Send email
    </button>
</div>
