<div class="list-files">
    <h2>List all files</h2>

    <!--Search bar-->
    <mat-form-field appearance="fill">
        <input matInput placeholder="Search" [(ngModel)]="searchBar">
    </mat-form-field>

    <!--Order by-->
    <mat-chip-list aria-label="order by">
        <mat-chip (click)="orderBy('date')" color="primary" selected>Date</mat-chip>
        <mat-chip (click)="orderBy('name')" color="accent" selected>Name</mat-chip>
        <mat-chip (click)="orderBy('type')" color="warn" selected>Type</mat-chip>
    </mat-chip-list>

    <!--List of files-->
    <ng-container *ngFor="let file of files | search:searchBar">
        <!--Text-->
        <ng-container *ngIf="convertTypeFile(file.type) === 'text'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ file.name }}</mat-card-title>
                    <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button (click)="openDialogUpdateFile(file)">EDIT</button>
                    <button mat-button (click)="deleteFile(file)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>

        <!--Images-->
        <ng-container *ngIf="convertTypeFile(file.type) === 'image'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ file.name }}</mat-card-title>
                    <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                </mat-card-header>
                <a href="{{ file.url }}" target="_blank">
                    <img mat-card-image src="{{ file.url }}" alt="{{ file.name }}">
                </a>
                <mat-card-actions>
                    <button mat-button>EDIT</button>
                    <button mat-button (click)="deleteFile(file)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>

        <!--Files-->
        <ng-container *ngIf="convertTypeFile(file.type) === 'application'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></mat-card-title>
                    <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>EDIT</button>
                    <button mat-button (click)="deleteFile(file)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>

        <!--Videos-->
        <ng-container *ngIf="convertTypeFile(file.type) === 'video'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ file.name }}</mat-card-title>
                    <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                </mat-card-header>
                <video mat-card-image controls src="{{ file.url }}"></video>
                <mat-card-actions>
                    <button mat-button>EDIT</button>
                    <button mat-button (click)="deleteFile(file)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>

        <!--Audios-->
        <ng-container *ngIf="convertTypeFile(file.type) === 'audio'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ file.name }}</mat-card-title>
                    <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                </mat-card-header>
                <audio controls mat-card-image src="{{ file.url }}"></audio>
                <mat-card-actions>
                    <button mat-button>EDIT</button>
                    <button mat-button (click)="deleteFile(file)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
</div>
