<ng-container *ngIf="files?.length > 0 else noFiles">

    <!--Search bar-->
    <div class="searchBar">
        <mat-form-field appearance="fill">
            <input (keyup.escape)="clearSearchBar()" matInput placeholder="Search"
                   [(ngModel)]="searchBar">
        </mat-form-field>
    </div>

    <!--Order by-->
    <div class="orderBy">
        <mat-chip-list aria-label="order by">
            <mat-chip (click)="orderBy('date')" id="orderByDate" selected>Date</mat-chip>
            <mat-chip (click)="orderBy('name')" id="orderByName" selected>Name</mat-chip>
            <mat-chip (click)="orderBy('type')" id="orderByType" selected>Type</mat-chip>
            <mat-chip (click)="orderBy('size')" id="orderBySize" selected>Size</mat-chip>
        </mat-chip-list>
    </div>

    <!--List of files-->
    <ng-container *ngFor="let file of filesToShow | searchFile:searchBar">
        <!--Text-->
        <ng-container *ngIf="castTypeFile(file.type) === 'text'">
            <app-file-card icon="format_color_text" [file]="file"></app-file-card>
        </ng-container>

        <!--Images-->
        <ng-container *ngIf="castTypeFile(file.type) === 'image'">
            <app-file-card icon="image" [file]="file"></app-file-card>
        </ng-container>

        <!--Files-->
        <ng-container *ngIf="castTypeFile(file.type) === 'application'">
            <app-file-card icon="file_copy" [file]="file"></app-file-card>
        </ng-container>

        <!--Videos-->
        <ng-container *ngIf="castTypeFile(file.type) === 'video'">
            <app-file-card icon="movie" [file]="file"></app-file-card>
        </ng-container>

        <!--Audios-->
        <ng-container *ngIf="castTypeFile(file.type) === 'audio'">
            <app-file-card icon="audiotrack" [file]="file"></app-file-card>
        </ng-container>
    </ng-container>

    <mat-paginator [length]="files.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[2, 5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>
</ng-container>
<ng-template #noFiles>
    <mat-card>
        <mat-card-content>
            <h3>No files</h3>
        </mat-card-content>
    </mat-card>
</ng-template>
