<ng-container *ngIf="(files$ | async)?.length else noFiles">

    <!--Search bar-->
    <div class="searchBar">
        <mat-form-field appearance="fill">
            <input (keyup.escape)="clearSearchBar()" matInput placeholder="Search"
                   [(ngModel)]="searchBar">
        </mat-form-field>
    </div>

    <!--Order by-->
    <div class="orderBy">
        <mat-chip-list aria-label="order by">
            <mat-chip (click)="orderBy('date')" id="orderByDate" selected>Date</mat-chip>
            <mat-chip (click)="orderBy('name')" id="orderByName" selected>Name</mat-chip>
            <mat-chip (click)="orderBy('type')" id="orderByType" selected>Type</mat-chip>
            <mat-chip (click)="orderBy('size')" id="orderBySize" selected>Size</mat-chip>
        </mat-chip-list>
    </div>

    <!--List of files-->
    <ng-container *ngFor="let file of filesToShow | searchFile:searchBar">
        <app-file-card [file]="file"></app-file-card>
    </ng-container>

    <mat-paginator [length]="(files$ | async).length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[2, 5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>
</ng-container>
<ng-template #noFiles>
    <mat-card>
        <mat-card-content>
            <h3>No files</h3>
        </mat-card-content>
    </mat-card>
</ng-template>
