@import "../file.icons";

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderBy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

$orderByDate: #3F51B5;
$orderByName: #FF4081;
$orderByType: #F44336;
$orderBySize: #FFC107;


#orderByDate {
    background-color: $orderByDate;
}

#orderByName {
    background-color: $orderByName;
}

#orderByType {
    background-color: $orderByType;
}

#orderBySize {
    background-color: $orderBySize;
}


mat-chip:hover {
    cursor: pointer;
}


@media (max-width: 768px) {
    mat-form-field,
    mat-chip-list {
        width: 100%;
    }

    mat-chip-list {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}