@import "../file.icons";

mat-chip:hover {
    cursor: pointer;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

mat-card-title {
    word-wrap: break-word;
}

@media (max-width: 768px) {
    mat-form-field,
    mat-chip-list {
        width: 100%;
    }

    mat-chip-list {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}