<div class="navbar">
    <ul>
        <li>
            <a routerLink="upload-file">
                <img src="../../../assets/icons/navbar/upload-file.png" alt="upload-file">
            </a>
        </li>
        <li>
            <a routerLink="tabs">
                <img src="./assets/icons/navbar/tabs.png" alt="tabs">
            </a>
        </li>
        <li>
            <a routerLink="list-files">
                <img src="./assets/icons/navbar/list-files.png" alt="list-files">
            </a>
        </li>
        <li>
            <a routerLink="user">
                <img src="./assets/icons/navbar/user.png" alt="user">
            </a>
        </li>
    </ul>
</div>