<div class="navigation">
    <ul>
        <li class="list">
            <a href="">
                <span class="icon">
                     <ion-icon name="cloud-upload-outline"></ion-icon>
                </span>
                <span class="title">Upload file</span>
            </a>
        </li>
        <li class="list active">
            <a href="">
                <span class="icon">
                     <ion-icon name="list-outline"></ion-icon>
                </span>
                <span class="title">List files</span>
            </a>
        </li>
        <li class="list">
            <a href="">
                <span class="icon">
                     <ion-icon name="copy-outline"></ion-icon>
                </span>
                <span class="title">Tabs</span>
            </a>
        </li>
        <li class="list">
            <a href="">
                <span class="icon">
                     <ion-icon name="person-circle-outline"></ion-icon>
                </span>
                <span class="title">My profile</span>
            </a>
        </li>
    </ul>
</div>