.navbar {
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li > a > img {
            width: 30px;
            height: 30px;
            filter: invert(56%) sepia(55%) saturate(4312%) hue-rotate(184deg) brightness(112%) contrast(102%);
        }
    }
}