<div class="upload-media">
    <h3>Upload Media</h3>
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <input type="file" id="file_upload" (change)="setFile($event)" class="hidden">
        <mat-icon (click)="uploadFile()">upload</mat-icon>
    </button>
</div>

<div class="upload-message">
    <mat-form-field appearance="fill">
        <mat-label>Upload message</mat-label>
        <input matInput placeholder="Hello World" [formControl]="formMessage" required>
        <mat-error *ngIf="formMessage.invalid"><!--{{getErrorMessage()}}--></mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="uploadMessage()">Upload</button>
</div>