<div class="flex flex-direction-column w-100">
    <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea matInput [rows]="isResponsive ? 10 : 20"
                  (paste)="pastFromClipboard($event)"
                  (keyup.escape)="formFile.reset()" placeholder="Hello World"
                  [formControl]="formFile"
        ></textarea>

        <mat-error *ngIf="formFile.hasError('required')">
            Notes is <strong>required</strong>
        </mat-error>

        <mat-error *ngIf="formFile.errors?.fileAlreadyExists">
            {{ formFile.getError('fileAlreadyExists') }}
        </mat-error>

        <mat-error *ngIf="formFile.hasError('fileTooBig')">
            {{ formFile.getError('fileTooBig') }}
        </mat-error>

        <mat-error *ngIf="formFile.hasError('UNKNOWN_ERROR')">
            {{ formFile.getError('UNKNOWN_ERROR') }}
        </mat-error>
    </mat-form-field>

    <div class="flex justify-content-space-between mt-10">
        <button mat-raised-button color="primary" (click)="uploadNote()" [disabled]="!formFile.valid">
            Upload note
        </button>
        <span class="support-markdown">Support markdown</span>
    </div>
</div>
