<mat-form-field appearance="fill">
    <mat-label>Notes</mat-label>
    <textarea matInput rows="20"
              (keydown)="keydown($event)"
              (paste)="pastFromClipboard($event)"
              (keyup.escape)="formFile.reset()" placeholder="Hello World"
              [formControl]="formFile"
    ></textarea>
    <mat-error *ngIf="formFile.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
<span class="support-markdown">Support markdown</span>
<br>
<button mat-raised-button color="primary" (click)="uploadNote()" [disabled]="!formFile.valid">Upload message
</button>
