<div class="file">
    <h2>Upload File</h2>

    <!--Upload message-->
    <mat-form-field appearance="fill">
        <mat-label>Upload message</mat-label>
        <input matInput (keyup.enter)="uploadMessage()" placeholder="Hello World" [formControl]="formMessage" required>
        <mat-error *ngIf="formMessage.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="uploadMessage()" [disabled]="!formMessage.valid">Upload message</button>
</div>
