<!--Upload message-->
<mat-form-field appearance="fill">
    <mat-label>Upload message</mat-label>
    <input matInput (keyup.enter)="formFile.valid && uploadMessage()" (paste)="pastFromClipboard($event)"
           (keyup.escape)="formFile.reset()" placeholder="Hello World"
           [formControl]="formFile">
    <mat-error *ngIf="formFile.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<button mat-raised-button color="primary" (click)="uploadMessage()" [disabled]="!formFile.valid">Upload message
</button>

<!--Upload file-->
<app-drag-drop-upload-file></app-drag-drop-upload-file>

<!--Loader-->
<mat-progress-spinner
        [ngClass]="loader === 0 ? 'hidden' : ''"
        [color]="color"
        [mode]="mode"
        [value]="loader">
</mat-progress-spinner>