<h2>Upload File</h2>

<!--Upload message-->
<mat-form-field appearance="fill">
    <mat-label>Upload message</mat-label>
    <input matInput (keyup.enter)="uploadMessage()" (keyup.escape)="formFile.reset()" placeholder="Hello World"
           [formControl]="formFile" required>
    <mat-error *ngIf="formFile.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<button mat-raised-button color="primary" (click)="uploadMessage()" [disabled]="!formFile.valid">Upload message
</button>

<!--Upload file-->
<ngx-dropzone (change)="selectFile($event)">
    <ngx-dropzone-label>Click or Drag and Drop here</ngx-dropzone-label>
</ngx-dropzone>
