<div class="navigation">
    <ul>
        <li>
            <h2 class="name">{{user?.displayName}}</h2>
        </li>
        <li [routerLink]="['/file/upload-file']" [routerLinkActive]="['active']">
            <b></b>
            <b></b>
            <a>
                <span class="icon">
                     <ion-icon name="cloud-upload-outline"></ion-icon>
                </span>
                <span class="title">Upload file</span>
            </a>
        </li>
        <li [routerLink]="['/file/list-files']" [routerLinkActive]="['active']">
            <b></b>
            <b></b>
            <a>
                <span class="icon">
                     <ion-icon name="list-outline"></ion-icon>
                </span>
                <span class="title">List files</span>
            </a>
        </li>
        <li [routerLink]="['/file/tabs']" [routerLinkActive]="['active']">
            <b></b>
            <b></b>
            <a>
                <span class="icon">
                     <ion-icon name="copy-outline"></ion-icon>
                </span>
                <span class="title">Tabs</span>
            </a>
        </li>
        <li [routerLink]="['/authentication/profile']" [routerLinkActive]="['active']">
            <b></b>
            <b></b>
            <a>
                <span class="icon">
                     <ion-icon name="person-circle-outline"></ion-icon>
                </span>
                <span class="title">My profile</span>
            </a>
        </li>
        <li>
            <b></b>
            <b></b>
            <a>
                <span class="icon">
                     <ion-icon name="cloud-outline"></ion-icon>
                </span>
                <span class="title">{{ totalFilesSize }} GB / 5 GB</span>
            </a>
        </li>
        <div class="sign-out" (click)="signOut()">
            <li>
                <b></b>
                <b></b>
                <a>
                <span class="icon">
                     <ion-icon name="log-out-outline"></ion-icon>
                </span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </div>
    </ul>
</div>