<h3>Sign-in</h3>
<form [formGroup]="formSignIn" (ngSubmit)="formSignIn.valid && signIn()">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">

    <input [disabled]="formSignIn.invalid" type="submit" value="Submit">
</form>
<hr>

<button (click)="signInWithPopUp('google')">Google sign-in</button>
<button (click)="signInWithPopUp('github')">Github sign-in</button>