<h3>Sign-in</h3>
<form [formGroup]="formSignIn" (ngSubmit)="formSignIn.valid && signIn()">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="formSignIn.get('email').hasError('email') && !formSignIn.get('email').hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="formSignIn.get('email').hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formSignIn.get('email').errors?.auth">
            {{ formSignIn.get('email').errors?.auth }}
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password">
        <mat-error *ngIf="formSignIn.get('password').hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formSignIn.get('password').hasError('minlength')">
            Password must be at least <strong>6 characters</strong>
        </mat-error>
    </mat-form-field>

    <button [disabled]="formSignIn.invalid" mat-raised-button color="primary">Sign-in</button>
</form>


<button (click)="signInWithPopUp('google')" mat-stroked-button color="primary">Google sign-in</button>
<button (click)="signInWithPopUp('github')" mat-stroked-button color="accent">Github sign-in</button>