<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="mat-icon" [ngClass]="getFileColor(file.type)">
            <mat-icon>{{ getFileIcon(file.type) }}</mat-icon>
        </div>

        <div class="card-title-container w-100">
            <ng-container *ngIf="!editMode; else updateMode">
                <mat-card-title (click)="file.type !== FileType.NOTE ? clickRenameButton() : undefined">
                    {{ file.type === FileType.NOTE ? 'Note' : file.name }}
                </mat-card-title>
            </ng-container>

            <ng-template #updateMode>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>File name</mat-label>
                    <input #fileNameInput type="text" matInput [formControl]="formUpdateNote"
                           placeholder="Ex. My new file name">
                </mat-form-field>

                <div class="error-update-file">
                    <mat-error *ngIf="formUpdateNote.hasError('nameAlreadyExist')">
                        {{ formUpdateNote.getError('nameAlreadyExist') }}
                    </mat-error>

                    <mat-error *ngIf="formUpdateNote.hasError('unknownError')">
                        {{ formUpdateNote.getError('unknownError') }}
                    </mat-error>
                </div>
            </ng-template>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
            <mat-card-subtitle>{{ file.size ? convertSize(file.size) : '' }}</mat-card-subtitle>
        </div>
    </mat-card-header>

    <mat-card-content>
        <ng-container [ngSwitch]="getFileType(file.type)">

            <ng-container *ngSwitchCase="FileType.NOTE">
                <mat-form-field class="w-100" appearance="fill">
                    <textarea #noteTextarea [formControl]="formUpdateNote" matInput [rows]="textAreaHeight"
                              [errorStateMatcher]="matcher"
                              placeholder="Hello World"
                    ></textarea>
                </mat-form-field>
            </ng-container>

            <ng-container *ngSwitchCase="FileType.MARKDOWN">
                <nu-markdown-preview [value]="file.name"></nu-markdown-preview>
            </ng-container>

            <ng-container *ngSwitchCase="FileType.APPLICATION_PDF">
                <a [href]="file.url" target="_blank">
                    <pdf-viewer [src]="file.url"
                                [render-text]="true"
                                [original-size]="false"
                                [zoom]="window.innerWidth < 500 ? 2 : .9"
                                class="pdf-viewer">
                    </pdf-viewer>
                </a>
            </ng-container>

            <ng-container *ngSwitchCase="FileType.IMAGE">
                <div class="image-video-container">
                    <a [href]="file.url" target="_blank">
                        <img [src]="file.url" [alt]="file.name">
                    </a>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="FileType.VIDEO">
                <div class="image-video-container">
                    <video controls [src]="file.url"></video>
                </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <div class="p-10">
                    <a [href]="file.url" target="_blank">
                        <button mat-raised-button color="primary">Download</button>
                    </a>
                </div>
            </ng-container>
        </ng-container>
    </mat-card-content>

    <mat-card-actions>
        <button *ngIf="file.type !== FileType.NOTE" mat-raised-button
                [disabled]="editMode && formUpdateNote.value === removeExtensionFile(file.name)"
                (click)="clickRenameButton()">
            <ng-container
                *ngIf="editMode && formUpdateNote.value !== removeExtensionFile(file.name) && this.formUpdateNote.valid else invalidForm">
                CONFIRM
            </ng-container>
            <ng-template #invalidForm>
                RENAME
            </ng-template>
        </button>
        <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
    </mat-card-actions>
</mat-card>
