.image-video-container {
    width: clamp(150px, 60vw, 600px);
    height: clamp(150px, 30vw, 600px);
    overflow: hidden;

    img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.pdf-viewer {
    width: 500px;
    height: 500px;
}

@media (max-width: 700px) {
    .pdf-viewer {
        width: auto;
    }
}
