<!--Text-->
<ng-container *ngIf="file.type === 'text/plain'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="textColor mat-icon">
                <mat-icon>format_color_text</mat-icon>
            </div>
            <mat-card-title>Note</mat-card-title>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field class="w-100" appearance="fill">
                    <textarea #noteTextarea [formControl]="formUpdateNote" matInput [rows]="20"
                              [errorStateMatcher]="matcher"
                              placeholder="Hello World"
                    ></textarea>
                </mat-form-field>

                <mat-error *ngIf="!formUpdateNote.value.trim()">
                    Note is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="formUpdateNote.hasError('nameAlreadyExist')">
                    {{ formUpdateNote.getError('nameAlreadyExist') }}
                </mat-error>

                <mat-error *ngIf="formUpdateNote.hasError('unknownError')">
                    {{ formUpdateNote.getError('unknownError') }}
                </mat-error>
            </form>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!file.name.trim()" (click)="renameNote()">RENAME</button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--Markdown-->
<ng-container *ngIf="file.type === 'text/markdown'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="textColor mat-icon">
                <mat-icon>format_color_text</mat-icon>
            </div>
            <mat-card-title>
                <span>Markdown</span>
            </mat-card-title>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <nu-markdown-preview value="{{ file.name }}"></nu-markdown-preview>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="clickRenameButton()">EDIT</button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--Images-->
<ng-container *ngIf="castTypeFile(file.type) === 'image'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="imageColor mat-icon">
                <mat-icon>image</mat-icon>
            </div>
            <div class="card-title-container w-100">
                <ng-container *ngIf="editMode else createMode">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>File name</mat-label>
                        <input #fileNameInput type="text" matInput [formControl]="formUpdateNote"
                               placeholder="Ex. pat@example.com">
                    </mat-form-field>

                    <mat-error *ngIf="formUpdateNote.hasError('NAME_ALREADY_EXISTS')">
                        {{ formUpdateNote.getError('NAME_ALREADY_EXISTS') }}
                    </mat-error>

                    <mat-error *ngIf="formUpdateNote.hasError('UNKNOWN_ERROR')">
                        {{ formUpdateNote.getError('UNKNOWN_ERROR') }}
                    </mat-error>
                </ng-container>
                <ng-template #createMode>
                    <mat-card-title #fileNameText (click)="clickRenameButton()"> {{ file.name }}
                    </mat-card-title>
                </ng-template>
                <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
                <mat-card-subtitle>{{ file.size ? convertSize(file.size) : '' }}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="image-video-container">
                <a href="{{ file.url }}" target="_blank">
                    <img src="{{ file.url }}" alt="{{ file.name }}">
                </a>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                    [disabled]="editMode && formUpdateNote.value === removeExtensionFile(file.name) || this.formUpdateNote.invalid"
                    (click)="clickRenameButton()">
                <ng-container
                    *ngIf="editMode && formUpdateNote.value !== removeExtensionFile(file.name) && this.formUpdateNote.valid else invalidForm">
                    CONFIRM
                </ng-container>
                <ng-template #invalidForm>
                    RENAME
                </ng-template>
            </button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--Files-->
<ng-container *ngIf="castTypeFile(file.type) === 'application'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="fileColor mat-icon mat-icon">
                <mat-icon>file_copy</mat-icon>
            </div>
            <mat-card-title><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></mat-card-title>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
            <mat-card-subtitle>{{ convertSize(file.size) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="file.type === 'application/pdf'">
            <pdf-viewer [src]="file.url"
                        [render-text]="true"
                        [original-size]="false"
                        [zoom]="window.innerWidth < 500 ? 2 : .9"
                        class="pdf-viewer"
            ></pdf-viewer>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="clickRenameButton()">RENAME</button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--Videos-->
<ng-container *ngIf="castTypeFile(file.type) === 'video'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="videoColor mat-icon">
                <mat-icon>movie</mat-icon>
            </div>
            <mat-card-title>{{ file.name }}</mat-card-title>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
            <mat-card-subtitle>{{ convertSize(file.size) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="image-video-container">
                <video controls src="{{ file.url }}"></video>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="clickRenameButton()">RENAME</button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!--Unknown-->
<ng-container *ngIf="castTypeFile(file.type) === 'unknown'">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="unknownColor mat-icon">
                <mat-icon>description</mat-icon>
            </div>
            <mat-card-title>
                <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
            </mat-card-title>
            <mat-card-subtitle>{{ convertDate(file.date) }}</mat-card-subtitle>
            <mat-card-subtitle>{{ convertSize(file.size) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button (click)="clickRenameButton()">RENAME</button>
            <button mat-raised-button (click)="deleteFile(file)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</ng-container>

