@import "../file.icons";

.file-image-video-container {
    height: 400px;
    width: 200px;
    overflow: hidden;

    img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.pdf-viewer {
    width: 500px;
    height: 500px;
}

@media (max-width: 700px) {
    .pdf-viewer {
        width: auto;
    }
}
