
$text: #FF6D00;
$image: #26ABE7;
$video: #AE6FF4;
$audio: #e6c100;
$file: #26BD96;

.textColor {
    color: $text;
}

.imageColor {
    color: $image;
}

.videoColor {
    color: $video;
}

.audioColor {
    color: $audio;
}

.fileColor {
    color: $file;
}