.container {
    padding: 20px;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}