.container {
    margin: 50px 20px 0 275px;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        margin: 50px 20px 0 120px;
    }
}