<ng-container *ngIf="files?.length else noFiles">

    <!--Note-->
    <mat-tab-group>
        <mat-tab *ngIf="countFilesByType[FileType.NOTE]">
            <ng-template mat-tab-label>
                <mat-icon class="text-color">format_color_text</mat-icon>
                Note
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="castTypeFile(file.type) === FileType.NOTE">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>

        <!--TXT-->
        <mat-tab *ngIf="countFilesByType[FileType.APPLICATION_TXT]">
            <ng-template mat-tab-label>
                <mat-icon class="txt-color">description</mat-icon>
               Text
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="file.type === FileType.APPLICATION_TXT">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>

        <!--Images-->
        <mat-tab *ngIf="countFilesByType[FileType.IMAGE]">
            <ng-template mat-tab-label>
                <mat-icon class="image-color">image</mat-icon>
                {{ FileType.IMAGE | titlecase }}
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="castTypeFile(file.type) === FileType.IMAGE">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>

        <!--PDF-->
        <mat-tab *ngIf="countFilesByType[FileType.APPLICATION_PDF]">
            <ng-template mat-tab-label>
                <mat-icon class="pdf-color">file_copy</mat-icon>
                PDF
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="file.type === FileType.APPLICATION_PDF">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>

        <!--Videos-->
        <mat-tab *ngIf="countFilesByType[FileType.VIDEO]">
            <ng-template mat-tab-label>
                <mat-icon class="video-color">movie</mat-icon>
                {{ FileType.VIDEO | titlecase }}
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="castTypeFile(file.type) === FileType.VIDEO">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>

        <!--Unknown-->
        <mat-tab *ngIf="countFilesByType[FileType.UNKNOWN]">
            <ng-template mat-tab-label>
                <mat-icon class="unknown-color">description</mat-icon>
                {{ FileType.UNKNOWN | titlecase }}
            </ng-template>
            <ng-container *ngFor="let file of files">
                <ng-container *ngIf="
                castTypeFile(file.type) !== FileType.NOTE &&
                castTypeFile(file.type) !== FileType.IMAGE &&
                file.type !== FileType.APPLICATION_PDF &&
                file.type !== FileType.APPLICATION_TXT &&
                castTypeFile(file.type) !== FileType.VIDEO">
                    <app-file-card [file]="file"></app-file-card>
                </ng-container>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</ng-container>
<ng-template #noFiles>
    <mat-card>
        <mat-card-content>
            <h3>No files</h3>
        </mat-card-content>
    </mat-card>
</ng-template>
