<ng-container *ngIf="files?.length else noFiles">
    <mat-tab-group>
        <ng-container *ngFor="let type of fileTypes">
            <ng-container *ngIf="countFilesByType[type.key]">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon [ngClass]="type.class">{{ type.icon }}</mat-icon>
                        {{ type.label }}
                    </ng-template>
                    <ng-container *ngFor="let file of files">
                        <app-file-card *ngIf="file.type === type.key" [file]="file"></app-file-card>
                    </ng-container>
                </mat-tab>
            </ng-container>
        </ng-container>
    </mat-tab-group>
</ng-container>

<ng-template #noFiles>
    <mat-card>
        <mat-card-content>
            <h3>No files</h3>
        </mat-card-content>
    </mat-card>
</ng-template>
