$text: #FF6D00;
$txt: #007721;
$image: #26ABE7;
$video: #AE6FF4;
$audio: #e6c100;
$pdf: #26BD96;
$zip: #c70000;

.text-color {
    color: $text;
}

.txt-color {
    color: $txt;
}

.image-color {
    color: $image;
}

.video-color {
    color: $video;
}

.unknown-color {
    color: $audio;
}

.pdf-color {
    color: $pdf;
}

.zip-color {
    color: $zip;
}

img, video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

mat-card-title {
    word-break: break-all;
}

.mat-icon {
    border-radius: 0;
}
