/* You can add global styles to this media, and also import other style files */
@import "./src/app/scrollbar";

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

a:hover {
    cursor: pointer;
}

.error-banner {
    width: 100%;
    background: #dc4747;
    padding: 1.5em;
    margin-bottom: 10px;
}
.w-100 {
    width: 100%;
}
