/* You can add global styles to this media, and also import other style files */
@import "./src/app/scrollbar";

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

a:hover {
    cursor: pointer;
}


.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
}

.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}
