html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

a:hover {
    cursor: pointer;
}

.error-banner {
    width: 100%;
    background: #dc4747;
    padding: 1.5em;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.hover-cursor {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
