<div class="container">
    <div class="banner">
        <div class="brand">
            <h1>File-Sync</h1>
        </div>
    </div>
    <div class="card">
        <form [formGroup]="formSignUp" (ngSubmit)="(!formSignUp.controls.email.hasError('required') || formSignUp.controls.password.valid || formSignUp.controls.displayName.valid) && signUp()">
            <img src="./assets/icons/user.png" alt="user icon">
            <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput formControlName="displayName" placeholder="Ex. Bob Razowski">
                <mat-error *ngIf="formSignUp.controls.displayName.hasError('required')">
                    Full Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="formSignUp.controls.displayName.hasError('minlength')">
                    Full Name must be at least <strong>5</strong> characters long.
                </mat-error>
                <mat-error *ngIf="formSignUp.controls.displayName.hasError('maxlength')">
                    last Name cannot be more than <strong>25</strong> characters long.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. bob.razowski@example.com">
                <mat-error *ngIf="formSignUp.controls.email.hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="formSignUp.controls.email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Password">
                <mat-error *ngIf="formSignUp.controls.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="formSignUp.controls.password.hasError('minlength')">
                    Password must be at least <strong>6 characters</strong>
                </mat-error>
                <mat-error *ngIf="formSignUp.controls.password.hasError('maxlength')">
                    Password cannot be more than <strong>25 characters</strong>
                </mat-error>
            </mat-form-field>

            <div class="submit">
                <button [disabled]="formSignUp.controls.email.hasError('required') || !formSignUp.controls.password.valid || !formSignUp.controls.displayName.valid"
                        mat-raised-button color="primary">Sign-up
                </button>
                <span>Already an account ? Sign-in <a routerLink="/authentication/sign-in">here</a></span>

            </div>
        </form>

        <button (click)="signInWithPopUp('google')" mat-stroked-button color="primary">Google sign-in</button>
        <button (click)="signInWithPopUp('github')" mat-stroked-button color="accent">Github sign-in</button>
    </div>
</div>