<h1 mat-dialog-title>Update file name</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Update message</mat-label>
        <textarea matInput placeholder="Hello World"
                  [formControl]="formFileName"
                  required rows="15" cols="10"></textarea>

        <mat-error *ngIf="formFileName.hasError('required')">
            You must enter a value
        </mat-error>

        <mat-error *ngIf="formFileName.hasError('NAME_ALREADY_EXISTS')">
            {{ formFileName.getError('NAME_ALREADY_EXISTS') }}
        </mat-error>


        <mat-error *ngIf="formFileName.hasError('UNKNOWN_ERROR')">
            {{ formFileName.getError('UNKNOWN_ERROR') }}
        </mat-error>

    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="updateFile()" [disabled]="!formFileName.valid">
        Update
    </button>
</div>
